<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sentry">
<xacro:include filename="$(find sentry_laser_sim)/xacro_new/define_fun.xacro"/>
<xacro:include filename="$(find sentry_laser_sim)/xacro_new/chassis_link.xacro"/>
<!-- <xacro:include filename="$(find sentry_laser_sim)/xacro_new/heading_link.xacro"/> -->
<xacro:include filename="$(find sentry_laser_sim)/xacro_new/driving_link.xacro"/>
<xacro:include filename="$(find sentry_laser_sim)/xacro_new/yaw_link.xacro"/>
<xacro:include filename="$(find sentry_laser_sim)/xacro_new/laser_link.xacro"/>

<!-- 四个舵，右前，左前，右后，左后依次标号为1，2，3，4 -->



<!-- joint -->
    <!-- base_footprint -->
    <xacro:myjoint_fixed joint_name="base_footprint_joint" joint_type="fixed" x="0" y="0" z="0.28" wx="0" wz="${PI / 4}" wy="0" parent_link="base_footprint" child_link="chassis_link"/>

    <!-- 左前舵 -->
    <!-- <xacro:myjoint_continuous joint_name="heaing_right_front_joint" joint_type="continuous" x="0" y="0.27" z="-0.125" wx="0" wy="0" wz="${-PI * 2 / 4}" parent_link="chassis_link" child_link="heading_link1" ax="0" ay="0" az="1"/> -->
    <!-- 左后舵 -->
    <!-- <xacro:myjoint_continuous joint_name="heaing_left_front_joint" joint_type="continuous" x="-0.27" y="0" z="-0.125" wx="0" wy="0" wz="${-PI * 2 / 4}" parent_link="chassis_link" child_link="heading_link2" ax="0" ay="0" az="1"/> -->
    <!-- 右前舵 -->
    <!-- <xacro:myjoint_continuous joint_name="heaing_right_back_joint" joint_type="continuous" x="0.27" y="0" z="-0.125" wx="0" wy="0" wz="${-PI * 2 / 4}" parent_link="chassis_link" child_link="heading_link3" ax="0" ay="0" az="1"/> -->
    <!-- 右后舵 -->
    <!-- <xacro:myjoint_continuous joint_name="heaing_left_back_joint" joint_type="continuous" x="0" y="-0.27" z="-0.125" wx="0" wy="0" wz="${-PI * 2 / 4}" parent_link="chassis_link" child_link="heading_link4" ax="0" ay="0" az="1"/> -->


    <!-- 左前舵 -->
    <!-- <xacro:myjoint_fixed joint_name="heaing_right_front_joint" joint_type="fixed" x="0" y="0.27" z="-0.125" wx="0" wy="0" wz="${-PI * 2 / 4}" parent_link="chassis_link" child_link="heading_link1" /> -->
    <!-- 左后舵 -->
    <!-- <xacro:myjoint_fixed joint_name="heaing_left_front_joint" joint_type="fixed" x="-0.27" y="0" z="-0.125" wx="0" wy="0" wz="${-PI * 2 / 4}" parent_link="chassis_link" child_link="heading_link2" /> -->
    <!-- 右前舵 -->
    <!-- <xacro:myjoint_fixed joint_name="heaing_right_back_joint" joint_type="fixed" x="0.27" y="0" z="-0.125" wx="0" wy="0" wz="${-PI * 2 / 4}" parent_link="chassis_link" child_link="heading_link3" /> -->
    <!-- 右后舵 -->
    <!-- <xacro:myjoint_fixed joint_name="heaing_left_back_joint" joint_type="fixed" x="0" y="-0.27" z="-0.125" wx="0" wy="0" wz="${-PI * 2 / 4}" parent_link="chassis_link" child_link="heading_link4" /> -->


    <!-- 左前驱动 -->
    <xacro:myjoint_continuous joint_name="driving_right_front_joint" joint_type="continuous" x="0" y="0.27" z="-0.14" wx="${PI / 2}" wy="0" wz="${PI / 4}" parent_link="chassis_link" child_link="driving_link3" ax="0" ay="0" az="1"/>
    <!-- 左后驱动 -->
    <xacro:myjoint_continuous joint_name="driving_left_front_joint" joint_type="continuous" x="-0.27" y="0" z="-0.14" wx="${PI / 2}" wy="0" wz="${PI / 4}" parent_link="chassis_link" child_link="driving_link1" ax="0" ay="0" az="1"/>
    <!-- 右前驱动 -->
    <xacro:myjoint_continuous joint_name="driving_right_back_joint" joint_type="continuous" x="0.27" y="0" z="-0.14" wx="${PI / 2}" wy="0" wz="${PI / 4}" parent_link="chassis_link" child_link="driving_link4" ax="0" ay="0" az="1"/>
    <!-- 右后驱动 -->
    <xacro:myjoint_continuous joint_name="driving_left_back_joint" joint_type="continuous" x="0" y="-0.27" z="-0.14" wx="${PI / 2}" wy="0" wz="${PI / 4}" parent_link="chassis_link" child_link="driving_link2" ax="0" ay="0" az="1"/>
    <!-- yaw -->
    <xacro:myjoint_continuous joint_name="yaw_joint" joint_type="continuous" x="0" y="0" z="0.1" wx="0" wy="0" wz="${-PI / 4}" parent_link="chassis_link" child_link="yaw_link" ax="0" ay="0" az="1"/>
    <!-- laser -->
    <xacro:myjoint_fixed joint_name="laser_joint" joint_type="fixed" x="0.0" y="0.1" z="0.05" wx="0" wz="0" wy="0" parent_link="yaw_link" child_link="laser_link"/>
    <xacro:myjoint_fixed joint_name="fake_laser_joint" joint_type="fixed" x="0" y="0" z="0.0" wx="0" wz="0" wy="0" parent_link="laser_link" child_link="laser_fake_link"/>


<!-- 驱动关节 -->
    <!-- <xacro:joint_trans joint_name="heaing_left_front_joint"/>
    <xacro:joint_trans joint_name="heaing_left_back_joint" />
    <xacro:joint_trans joint_name="heaing_right_front_joint" />
    <xacro:joint_trans joint_name="heaing_right_back_joint" /> -->
    <xacro:joint_trans joint_name="driving_left_front_joint"/>
    <xacro:joint_trans joint_name="driving_left_back_joint" />
    <xacro:joint_trans joint_name="driving_right_front_joint" />
    <xacro:joint_trans joint_name="driving_right_back_joint" />
    <xacro:joint_trans joint_name="yaw_joint" />


  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <rosDebugLevel>Debug</rosDebugLevel>
                <publishWheelTF>true</publishWheelTF>
                <robotNamespace>/sentry</robotNamespace>
                <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
                <publishTf>1</publishTf>
                <publishWheelJointState>true</publishWheelJointState>
                <alwaysOn>true</alwaysOn>
                <updateRate>100.0</updateRate>
                <legacyMode>true</legacyMode>

    </plugin>
  </gazebo>

  <gazebo>
	<plugin name="mecanum_controller" filename="libgazebo_ros_planar_move.so">
		        <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom_sentry</odometryTopic> 
           	<odometryFrame>odom_sentry</odometryFrame>
            <robotNamespace>/sentry</robotNamespace>
           	<leftFrontJoint>driving_left_front_joint</leftFrontJoint>
           	<rightFrontJoint>driving_right_front_joint</rightFrontJoint>
           	<leftRearJoint>driving_left_back_joint</leftRearJoint>
		        <rightRearJoint>driving_right_back_joint</rightRearJoint>
		        <odometryRate>30</odometryRate>
           	<robotBaseFrame>base_footprint</robotBaseFrame>
           	<broadcastTF>1</broadcastTF>
        </plugin>
    </gazebo>

</robot>