<launch>
 
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find sentry9)/config/sentry.yaml" command="load"/>
 
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/sentry" args="joint_state_controller
            Heading_Left_Front_controller
	          Heading_Right_Front_controller
            Heading_Left_Back_controller
            Heading_Right_Back_controller
            Driving_Left_Front_controller
            Driving_Left_Back_controller
            Driving_Right_Front_controller
            Driving_Right_Back_controller"/>
 
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/sentry/joint_states" />
  </node>


</launch>