<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="body_define">
<!--常量定义-->
<xacro:property name="M_PI" value="3.1415926535897931" />

<!--定义矩形link-->
<xacro:macro name="mylink_tri" params="myname l w h x y z wx wy wz color r g b a mass ixx ixy ixz iyy iyz izz">
	<link name="${myname}">
	<visual>
		<geometry>
			<box size="${l} ${w} ${h}"/>
		</geometry>
		<origin xyz="${x} ${y} ${z}" rpy="${wx} ${wy} ${wz}"/>
		<meterial name="${color}">
			<color rgba="${r} ${g} ${b} ${a}"/>
		</meterial>
	</visual>
	<collision>
		<geometry>
			<box size="${l} ${w} ${h}"/>
		</geometry>
	</collision>
	<inertial>
		<mass value="${mass}"/>
		<inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
	</inertial>
	</link>
</xacro:macro>

<!--定义椭圆link-->
<xacro:macro name="mylink_cyl" params="link_name l r_ x y z wx wy wz color r g b a mass ixx ixy ixz iyy iyz izz">
	<link name="${link_name}">
		<visual>
			<geometry>
				<cylinder length="${l}" radius="${r_}"/>
			</geometry>
			<origin xyz="${x} ${y} ${z}" rpy="${wx} ${wy} ${wz}"/>
			<meterial name="${color}">
				<color rgba="${r} ${g} ${b} ${a}"/>
			</meterial>
		</visual>
		<collision>
			<geometry>
				<cylinder length="${l}" radius="${r_}"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="${mass}"/>
			<inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
		</inertial>
	</link>
</xacro:macro>

<!--定义fixed_joint-->
<xacro:macro name="myjoint_fixed" params="joint_name joint_type x y z wx wz wy parent_link child_link">
	<joint name="${joint_name}" type="${joint_type}">
		<origin xyz="${x} ${y} ${z}" rpy="${wx} ${wy} ${wz}"/>
  		<parent link="${parent_link}"/>
   		<child link="${child_link}"/>
	</joint>
</xacro:macro>

<!--定义continuous_joint-->
<xacro:macro name="myjoint_continuous" params="joint_name joint_type x y z wx wy wz parent_link child_link ax ay az">
	<joint name="${joint_name}" type="${joint_type}">
		<origin xyz="${x} ${y} ${z}" rpy="${wx} ${wy} ${wz}"/>
    		<parent link="${parent_link}" />
    		<child link="${child_link}" />
    		<axis xyz="${ax} ${ay} ${az}"/>
	</joint>
</xacro:macro>

<!-- 传动实现:用于连接控制器与关节 -->
    <xacro:macro name="joint_trans_v" params="joint_name">
        <!-- Transmission is important to link the joints and the controller -->
        <transmission name="${joint_name}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint_name}">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
            <actuator name="${joint_name}_motor">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
<!-- 传动实现:用于连接控制器与关节 -->
    <xacro:macro name="joint_trans_e" params="joint_name">
    <transmission name="trans_${joint_name}">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="${joint_name}_actuator">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
      <joint name="${joint_name}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>
    </xacro:macro>

</robot>
